<div class = center>
      {{message}}
   <br><br><br><br>
   <form name = "someForm">
   <tr>
   <td> UserNam </td>
   <td> <input type = "text" placeholder = "Username or Email" ng-model = "UserName" required /></td>
   </tr>
   <br><br>
   <tr>
      <td> Password </td>
      <td> <input type = "password" placeholder = "Enter Password" ng-model = "password" required /></td>
   </tr>
   <br><br>
   <button class = "registerbtn" ng-click = "submit($event)">Log In</button>
   </form>
</div>
   

